@if (loading) {<mat-spinner></mat-spinner>} @else if (error) {
<div>{{ error }}</div>
} @else if (!loading && !gameOver && questions.length > 0) {
<div>
  <div class="stepper">
    @for (question of questions; track $index) {
    <div class="stepper__icon" [class.active]="$index === currentQuestionIndex">
      {{ $index + 1 }}
    </div>
    }
  </div>

  <div class="score">
    <h1>🎯&nbsp;{{ score }}/{{ questions.length }}</h1>
  </div>
  <div class="question">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{
          questions[currentQuestionIndex].category
        }}</mat-card-title>
        <mat-card-subtitle>
          {{ questions[currentQuestionIndex].difficulty.toLocaleUpperCase() }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ questions[currentQuestionIndex].question | decodeHtml }}
        </p>
        <mat-radio-group
          (change)="selectAnswer($event.value)"
          class="question__radio-group"
        >
          @for (answer of answers; track $index) {
          <mat-radio-button
            [value]="answer.text"
            [checked]="answer.isSelected"
            class="question__radio-group__option"
            [class.correct]="answer.isCorrect && showCorrectAnswer"
            [class.incorrect]="!answer.isCorrect && showCorrectAnswer"
            >{{ answer.text | decodeHtml }}
          </mat-radio-button>
          }
        </mat-radio-group>
      </mat-card-content>

      <mat-card-footer>
        <button
          class="question__submit"
          mat-flat-button
          color="primary"
          (click)="handleAnswer()"
          [disabled]="!selectedAnswer || showCorrectAnswer"
        >
          Submit Answer
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
} @if(gameOver){
<div>
  <h2>Game Over!</h2>
  <p>Your final score: {{ score }} / {{ questions.length }}</p>
</div>
}
